* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  margin: 0;
}
main {
  padding: 36px;
}
.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
}
.header-image {
  height: 100%;
  margin-right: -16px;
}
.header-title {
  font-size: 1.5rem;
  margin-right: auto;
  margin-left: 40px;
}

.form {
  display: grid;
  grid-template: 40px 40px /1fr 1fr;
  gap: 17px;
}
.form-input {
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}
.form-button {
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  background: linear-gradient(90.41deg, rgb(139, 67, 139) 1.14%, violet 100%);
  border-radius: 5px;
  grid-column: 1/-1;
  color: white;
  cursor: pointer;
  border: 0;
}
.meme-img {
  max-width: 100%;
}

.meme {
  position: relative;
  text-align: center;
}
h2 {
  position: absolute;
}
.top {
  color: white;
  margin-left: 17%;
  text-align: center;
  font-weight: 900;
  -webkit-text-stroke: 2px #000;
  top: 0;
}
.bottom {
  color: white;
  margin-left: 17%;
  text-align: center;
  font-weight: 900;
  -webkit-text-stroke: 2px #000;
  bottom: 0;
}
